
.stampsample a {
    float: left;
    margin: 10px;
}

#tweetImageArea img {
    border: solid 1px #fff;
}

#tweetImageArea img:hover {
    border: solid 1px #000;
}

.footer a {
    margin-left: 10px;
}

.blockUI h3 {
    margin: 20px 0;
}

.blockUI img {
    margin-right: 10px;
}
